<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcosmtz.littlepig">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LittlePigSignUp">
        </activity>
        <activity android:name=".LittlePigLogIn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".LittlePigLogIn" />-->
        <activity android:name=".LittlePigAdminUser" />

        <!-- Apartir de aqui se agregan pantallas nuevas, tu las comentas o eliminas -->
        <activity android:name=".TeoriaAhorro" />
        <activity android:name=".TeoriaMeta" />
        <activity android:name=".TeoriaIngreso" />
        <activity android:name=".TeoriaGasto" />
        <activity android:name=".AgregaMeta" />
        <activity android:name=".IngresosView" />
        <activity android:name=".GastosView" />
        <activity android:name=".IngresoAdd" />
        <activity android:name=".GastoAdd" />
        <activity android:name=".BalanceView" />
        <activity android:name=".TipsView" />
        <activity android:name=".AhorraAdd" />
        <activity android:name=".AgendaView" />
        <activity android:name=".AgendaAdd"></activity>

        <!--<activity android:name=".LittlePigAdminUser"></activity>-->

    </application>

</manifest>